body {
  background-color: #fdfdfd;
}

h1 {
  font-family: Rajdhani;
  color: #000;
  font-size: 60px;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-family: arial;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

h2.form {
  font-family: Rajdhani;
  text-transform: uppercase;
  font-size: 30px;
}

h3 {
  font-family: arial;
  color: #000;
  font-size: 18px;
  text-align: center;
  margin-top: 0px;
  text-transform: capitalize;
}

hr {
  border-top: 0px solid #fff;
}

.btn {
  background-color: #9DEDE6;
  color: #3c3c3c;
  font-family: Rajdhani;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
}

.price {
  color: #72B923;
  font-face: arial;
  font-size: 14px;
  padding: 0px;
}

.sqft {
  color: #000;
  font-face: arial;
  font-size: 14px;
  padding: 0px;
}

p {
  margin-bottom: 10px;
}

img {
  margin-top: 25px;
}

label {
  font-size: 12px;
  font-family: helvetica;
}
